.container {
  position: relative;
  margin: auto;
  border: solid;
  width: 80vw;
  padding-bottom: 20px;
  margin-top: 50px;
}

.sideButton{
  position: absolute;
  background-color: antiquewhite;
  width: 20px;
  height: auto;
}

.container>h2 {
  padding-left: 20px;
}

.sectionCard {
  text-align: center;
  padding-bottom: 10px;
}

.genDisplay {
  text-align: center;
  display: grid;
  grid-template-areas: "head head" "email phone";
}

.eduDisplay {
  padding-left: 40px;
}

.genDisplay:hover, .eduDisplay:hover {
  background-color: antiquewhite;
  animation-duration: 0.5ms;
  user-select: none;
  transition-duration: 0.4s;
}

.genDisplay>h1 {
  grid-area: head;
  margin-bottom: 0px;
}

.genDisplay>#email {
  grid-area: email;
}

.genDisplay>#phone {
  grid-area: phone;
}

.heading {
  margin-top: 0;
  padding: 10px 0 10px 0;
  text-align: center;
  background-color: antiquewhite;
}